{% extends "base.html" %}

{% block content %}
  <h1>Employee Name: {{ object.employeeName }}</h1>
  <p><strong>Employee Role:</strong> {{ object.get_employeeRole_display }}</p>
  <p><strong>Manager:</strong> {{ object.managerId }}</p>
  <p><strong>Project:</strong> {{ object.projectId }}</p>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Leaves</h4>

    {% for leave in object.leave_set.all %}
      <hr />
        <p>Reason for leave: {{leave.reason}}</p>
        <p>Start date: {{leave.startDate}}, End date: {{leave.endDate}}</p>
    {% empty %}
      <p> No Leaves </p>
    {% endfor %}
  </div>
{% endblock %}                                                       