{% extends "base.html" %}

{% block content %}
  <h1>Project Title: {{ object.projectTitle }}</h1>
  <p><strong>Start date:</strong> {{ object.dateOfStart }}</p>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Employees working</h4>

    {% for employee in object.employeeinfo_set.all %}
      <hr />
        <p>Employee Id: {{employee.employeeId}}</p>
        <p>Employee Name: {{employee.employeeName}}</p>
    {% empty %}
      <p> No Leaves </p>
    {% endfor %}
  </div>
{% endblock %}                                                       